<h1><%= t ".title" %></h1>

<%= link_to "Login", new_session_path unless authenticated? %>
<%= link_to "New product", new_product_path if authenticated? %>

<div id="products">
  <% @products.each do |product| %>
    <section class="product">
      <% if product.featured_image.attached? %>
        <%= image_tag product.featured_image, alt: product.name %>
      <% end %>

      <div class="product-details">
        <h2><%= link_to product.name, product_path(product) %></h2>
        <% if product.respond_to?(:inventory_count) %>
          <p>In stock: <%= product.inventory_count %></p>
        <% end %>
        <% if product.description.present? %>
          <div class="description"><%= product.description.to_s.html_safe %></div>
        <% end %>
      </div>
    </section>
  <% end %>
</div>
